body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;`
    justify-content: center;
    align-items: center;
    background-image: url("8c98994518b575bfd8c949e91d20548b.jpg");
    background-position: center;
}

.container {
    width: 80vw;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* Adding opacity to the background color */
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #25d366;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #128c7e;
}
